[submodule "ext/ParamHelper"]
	path = ext/ParamHelper
	url = https://github.com/statphysandml/ParamHelper.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/FlowEquationInterface"]
	path = ext/FlowEquationInterface
	url = https://github.com/statphysandml/FlowEquationInterface.git
