*.aux
*.log
*.out
*.synctex.gz
*.toc
*.pyc
program/cmake/*
!program/cmake/CMakeLists.txt
program/debug/*
program/release/*
program/gpu_debug/*
program/gpu_release/*
program/data/*
program/.idea/*
program/mathematica_parser/.idea/*
program/plotting_routines/.idea/*
test_programs/thrust_cuda/cmake-build-debug/*
test_programs/thrust_cuda/cmake-build-release/*
test_programs/thrust_cuda/.idea/*
test_programs/thrust_expand/*
!test_programs/thrust_expand/expand.cu
test_programs/thrust_vectors/*
!test_programs/thrust_vectors/vectors.cu
test_programs/thrust_version/*
!test_programs/thrust_version/version.cu
doc/source/*
!doc/source/figures/
!doc/source/report.tex
!doc/source/references.bib
__pychache__/

projects/*
program/*
build/*
install/*
.vscode/*

examples/Testing/*
!examples/Testing/CMakeLists.txt
!examples/Testing/include
!examples/Testing/src
config.h
