*.aux
*.log
*.out
*.synctex.gz
*.toc
*.pyc
*.so
*.egg-info/

doc/source/*
!doc/source/figures/
!doc/source/report.tex
!doc/source/references.bib

build/
install/
.vscode/
.idea/
__pychache__/
ODEVisualizationLib.egg-info/

examples/applications/c++/*
!examples/applications/c++/CMakeLists.txt
!examples/applications/c++/include
!examples/applications/c++/src

examples/flow_equations/LorentzAttractor/*
!examples/flow_equations/LorentzAttractor/README.md
!examples/flow_equations/LorentzAttractor/setup.py
!examples/flow_equations/LorentzAttractor/pyproject.toml
!examples/flow_equations/LorentzAttractor/CMakeLists.txt
!examples/flow_equations/LorentzAttractor/cmake
!examples/flow_equations/LorentzAttractor/include
!examples/flow_equations/LorentzAttractor/python_pybind
!examples/flow_equations/LorentzAttractor/src

examples/flow_equations/ThreePointSystem/*
!examples/flow_equations/ThreePointSystem/README.md
!examples/flow_equations/ThreePointSystem/setup.py
!examples/flow_equations/ThreePointSystem/pyproject.toml
!examples/flow_equations/ThreePointSystem/CMakeLists.txt
!examples/flow_equations/ThreePointSystem/cmake
!examples/flow_equations/ThreePointSystem/include
!examples/flow_equations/ThreePointSystem/python_pybind
!examples/flow_equations/ThreePointSystem/src

examples/flow_equations/SaddleNodeBifurcation/*
examples/flow_equations/FourPointSystem/*

examples/further_systems/ThreePointSystem/*
!examples/further_systems/ThreePointSystem/CMakeLists.txt
!examples/further_systems/ThreePointSystem/flow_equations
!examples/further_systems/ThreePointSystem/include
!examples/further_systems/ThreePointSystem/python
!examples/further_systems/ThreePointSystem/src

examples/further_systems/FourPointSystem/*
!examples/further_systems/FourPointSystem/CMakeLists.txt
!!examples/further_systems/FourPointSystem/flow_equations
!examples/further_systems/FourPointSystem/include
!examples/further_systems/FourPointSystem/src

config.h
odevis/cmake_install/

examples/flow_equations/Betafunctionsyukawa/